In [3]:
import numpy as np
import pandas as pd
#Creating a series by passing list of values, let pandas create the index
s=pd.Series([1,2,3,np.nan,6,8])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
#Creating a dataframe with date as index and column names
dates=pd.date_range("20230101",periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01  0.280091 -0.639070  0.846252 -0.028646
2023-01-02 -0.143217 -0.506172  1.064335 -0.261544
2023-01-03 -1.021252  0.655391  0.132367 -1.007084
2023-01-04 -2.863784 -1.425898  0.871181  2.798685
2023-01-05  0.323666 -1.282853  0.923431  0.396119
2023-01-06  0.316885 -0.865136 -0.148984  1.029073

In [13]:
#Creating a dataframe by passing dictionary 
#Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
#Pandas Series is nothing but a column in an excel sheet.
#Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

df2=pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20230101"),
    "C": pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"foo"
    
})
df2

     A          B    C  D      E    F
0  1.0 2023-01-01  1.0  3   test  foo
1  1.0 2023-01-01  1.0  3  train  foo
2  1.0 2023-01-01  1.0  3   test  foo
3  1.0 2023-01-01  1.0  3  train  foo